extends layout

block content
  .gapB
  .aboutWrapper
    #aboutContent1 Welcome to Idea-Hub, a community where you can share your ideas and knowledge to grow as an entrepreneur. We believe entrepreneurs do not need to be alone in their daily struggles and challenges. We believe there is room for a supporting community to flourish. The existing technology can help us do it.
    #aboutContent2 We have very ambitious plans for this community, but first things first. We are beginning with a simple social-media platform that allows you to make posts, ask questions, share links, pictures, make comments, and so on. Use it to your own benefit! You can promote your site, ask for references or specialized services, or do whatever else you can think of.
    #aboutContent3 Don’t forget to report any unusual or toxic behavior from other members of the community as well as glitches or problems with the website functionality. That will help us keep things running smoothly. And feel free to leave us any suggestion!
