extends layout

block content
  .errorWrapper
    .errorContainer
      .errorDiv1
        i.fas.fa-exclamation-triangle.fa-4x#icon
      .errorDiv2
        h3= message
  #functionTrigger(style="display:none;")= trigger

  script if (document.getElementById("functionTrigger").innerHTML === "true") {document.getElementById("icon").className = "fas fa-check-circle fa-4x";}
  script window.onload = setTimeout(function() {window.location = '/'}, 10000);
