doctype html
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap')
  header
    #trigger2(style="display:none;")= trigger2
    .header_wrapper
      #header_logo
        a(href='/') The Entrepreneurial Hub
      #header_menu
        .menu_item
          a(href='/') Share
        .menu_item
          a(href='') Discuss
        .menu_item
          a(href='') News
        .menu_item
          a(href='') Events
        .menu_item
          a(href='') Suggestions
        .menu_item#logIn
          button(onclick="openSignin()") Log in
        .menu_item#myAccount(style="display:none;")
          button
            i.fas.fa-user
          .dropdownContent
            button My Profile
            button My pocket
            button(onclick="location.href='/logout';") Log out
  #signinMenuWrapper
      #signinForm
        form(method="POST" action="/login") To log in, please type in your e-mail address and password:
          input(type="email" placeholder="E-mail address" name="email" required)
          input(type="password" placeholder="Password" name="password" required)
          button(type="submit" class="submitbtn") <b>Log in</b>
          button(type="button" class="closebtn" onclick="closeSignin()") <b>Cancel</b>
          p Or create an account now:
          button(type="button" class="submitbtn2" onclick="openRegister()") <b>Register!</b>
      #registerForm
        form(method="POST" action="/register") To create your account, fill in all of the following fields:
          input(type="text" placeholder="First name/Given name*" name="firstName" required)
          input(type="text" placeholder="Last name/Family name*" name="lastName" required)
          input(type="email" placeholder="E-mail address*" name="email" required)
          input(type="password" placeholder="Password*" name="password" id="password" onchange="checkPassword()" required)
          input(type="password" placeholder="Confirm password*" name="confirmPassword" id="confirmPassword" onchange="checkPassword()" required)
          button(class="submitbtn" id="registerButton" onclick="checkAndAlert()") <b>Register</b>
          button(type="button" class="closebtn" onclick="closeRegister()") <b>Cancel</b>
        
  body
    block content
    script if (document.getElementById("trigger2").innerHTML === "true") {document.getElementById("logIn").style.display="none"; document.getElementById("myAccount").style.display="inline-block";}
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo',crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js',integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnJAK/18WvCWPIPm49',crossorigin='anonymous')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/scripts.js')
