extends layout

block content
  .formWrapper
    #resetForm
      form(method="POST" action=`/change-password/${verHash}`)
        p Dear #{name}, please choose your new password:
        input(type="email" placeholder="E-mail address*" name="email" required)
        input(type="password" placeholder="New password*" name="password" id="password2" onchange="checkPassword2()" required)
        input(type="password" placeholder="Confirm password*" name="confirmPassword" id="confirmPassword2" onchange="checkPassword2()" required)
        button(class="submitbtn" id="changePasswordButton" onclick="checkAndAlert2()") <b>Accept</b>
        button(type="button" class="closebtn" onclick="") <b>Cancel</b>
