extends layout

block content
  .gapB
  .privacyPolicyWrapper
    .privacyPolicyContainer
      .privacyPolicyTitle Cookie Policy
      .privacyPolicyText
        | Cookies are small text files stored in your computer or mobile device when you visit a website. The data in these files can be used for different purposes. For example, they can be used to remember the language preferences you have selected for a specific website. They may also be used by third parties to support external services such as Facebook Ads or Google Analytics.<br><br>
        | At idea-hub.net we only use two types of cookies which are essential for the site’s functionality. The first type allows us to identify you as a user and confirms to us that you have successfully logged in to our platform. The second type lets us “remember” that you have read and acknowledged our Cookie Policy so you don’t have to be asked again every time you visit any of our site’s pages. Please note that since cookies are stored in your web browser, you will be prompted to accept our policy every time you connect from a new device when browsing the internet in private mode.<br><br>
        | We do not use cookies to track your behavior or offer you targeted ads, neither do we use third-party cookies. Any changes to our Cookie Policy will be reflected in this document and notified to you via e-mail.
