doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="google-site-verification" content="DQOBa7YYjTWfJoRiFsJJqJEf7ltYr9sFbWIVguWlbDI")
    meta(name="description" content="idea-hub.net is a simple-to-use social network for entrepreneurs who want to connect with others, share information or collaborate. And the best thing: it is free to use!")
    title= title
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap')
  header
    #trigger2(style="display:none;")= trigger2
    .header_wrapper
      #header_logo
        a(href='/') idea-hub.net
        //- img(src="/images/logo01.png")
      #header_menu
        if !userId
          .menu_item#aboutInHeader
            a(href="/about") About
          .menu_item#logIn
            button Log in
            .dropdownContent
              button(onclick="openSignin()") Log in
              button(onclick="openRegister()") Register
          .menu_item#mobileMenu
            button
              i.fas.fa-bars
            .dropdownContent#layoutMenuDropdown
              button(onclick="location.href='/'") <i class="fas fa-share-square"></i> Share
              button(onclick="location.href='/discussions'") <i class="fas fa-exclamation-triangle"></i> Discussions
              button(onclick="location.href='/partner-up'") <i class="fas fa-exclamation-triangle"></i> Partner Up
              button(onclick="location.href='events'") <i class="fas fa-exclamation-triangle"></i> Events
              button(onclick="location.href='/rankings'") <i class="fas fa-exclamation-triangle"></i> Rankings
              button(onclick="location.href='/about'") <i class="fas fa-question-circle"></i> About
        if userId
          .menu_item
            button
              i.fas.fa-bell
          .menu_item#myAccount(name=`${userId}`)
            button
              i.fas.fa-user
            .dropdownContent#layoutProfileDropdown
              button(onclick=`location.href="/user/${userId}";`) My Profile
              button(onclick=`location.href="/user-collection";`) My Collection
              button(onclick="location.href='/logout';") Log out
          .menu_item
            button
              i.fas.fa-bars
            .dropdownContent#layoutMenuDropdown
              button(onclick="location.href='/'") <i class="fas fa-share-square"></i> Share
              button(onclick="location.href='/discussions'") <i class="fas fa-exclamation-triangle"></i> Discussions
              button(onclick="location.href='/partner-up'") <i class="fas fa-exclamation-triangle"></i> Partner Up
              button(onclick="location.href='/events'") <i class="fas fa-exclamation-triangle"></i> Events
              button(onclick="location.href='/rankings'") <i class="fas fa-exclamation-triangle"></i> Rankings
              button(onclick="location.href='/about'") <i class="fas fa-question-circle"></i> About
  #signinMenuWrapper
      #messageAlert
        .messageContainer
          #messageText
        .buttons
          button(type="button" class="closebtn" onclick="closeMessage()") <b>Close</b>
      #signinForm
        form(method="POST" action="/login" id="loginForm" name="loginForm") To log in, please type in your e-mail address and password:
          input(type="email" placeholder="E-mail address" name="email" id="email" maxlength="50" required)
          input(type="password" placeholder="Password" name="password" maxlength="30" required)
          small
            a(href="#" onclick="resetPassword()" id="passwordReset")
              b Ups, I forgot my password!
          .simpleWrapper
            input(type="checkbox" name="keepLogged" value="true" id="keepLogged")
            label(for="keepLogged") Keep me logged in
          .buttons
            button(type="submit" class="submitbtn") <b>Log in</b>
            button(type="button" class="closebtn" onclick="closeSignin()") <b>Cancel</b>
      #registerForm
        form(method="POST" action="/register") To create your account, fill in all of the following fields:
          input(type="text" placeholder="First name/Given name*" name="firstName" maxlength="30" required)
          input(type="text" placeholder="Last name/Family name*" name="lastName" maxlength="30" required)
          input(type="email" placeholder="E-mail address*" name="email" maxlength="50" required)
          input(type="password" placeholder="Password*" name="password" id="password" oninput="checkPassStrength()" onchange="checkPassword()" maxlength="30" minlength="8" required)
          input(type="password" placeholder="Confirm password*" name="confirmPassword" id="confirmPassword" onchange="checkPassword()" maxlength="40" required)
          small#passwordMessage(style="display:none;") Password strength:
            b#passwordStrength
          .buttons
            button(class="submitbtn" id="registerButton" onclick="checkAndAlert()") <b>Register</b>
            button(type="button" class="closebtn" onclick="closeRegister()") <b>Cancel</b>
  #acceptCookiesBackground
    #acceptCookiesMessage
      #acceptCookiesText This site only uses the necessary cookies for its functioning. You can learn more about this <a href="/about/cookie-policy">here</a>.
      .buttons
        button#acceptCookiesButton(onclick="acceptCookies()") Awesome!

  body
    block content

    footer
      .footerContent
        a(href="/about/service-terms") Terms of Service
        a(href="/about/privacy-policy") Privacy Policy
        a(href="/about/cookie-policy") Cookie Policy
      .footerContent
        a(href="/about/contact") Contact Information
        a(href="/about") About Us
    script(src='/javascripts/scripts.js')
