* {
  box-sizing: border-box;
}
.stdFormContainer {
  z-index: 9;
  background-color: white;
  border: 2px solid #395462;
  padding: 20px;
  border-radius: 5px;
  color: black;
  width: 310px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}
header {
  background-color: #2d313a;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  font-size: 1.2rem;
}
.header_wrapper a,
.menu_item button {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  font-family: raleway, sans-serif;
  background-color: #2d313a;
}
.header_wrapper a:hover,
.menu_item button:hover {
  background-color: #395462;
  border-radius: 3px;
}
.menu_item i {
  padding: 0 10px 0 10px;
}
.menu_item .dropdownContent {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  font-size: 0.8em;
}
.menu_item .dropdownContent button {
  display: inline-block;
}
.menu_item .dropdownContent button:hover {
  border-radius: 0;
}
.menu_item:hover .dropdownContent {
  visibility: visible;
  border-radius: 0;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 56px;
  align-items: center;
}
#header_logo {
  padding-left: 5%;
}
#header_menu {
  padding-right: 5%;
}
.menu_item {
  display: inline-block;
}
#signinMenuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 84, 98, 0.7);
  z-index: 8;
  display: none;
  align-items: center;
  justify-content: center;
}
#signinForm {
  z-index: 9;
  background-color: white;
  border: 2px solid #395462;
  padding: 20px;
  border-radius: 5px;
  color: black;
  width: 310px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  display: none;
}
#signinForm input {
  margin: 10px auto 0 auto;
}
#signinForm p {
  margin: 10px 0 6px 0;
}
#signinForm .simpleWrapper {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}
#signinForm .simpleWrapper input,
#signinForm .simpleWrapper label {
  display: inline-block;
  margin: 7px 3px 3px 3px;
}
#signinForm .submitbtn {
  margin-top: 8px;
}
.submitbtn2 {
  text-align: center;
  width: 51%;
  padding: 3px 0 3px 0;
  background-color: #00a4c0;
  color: white;
}
#registerForm {
  z-index: 9;
  background-color: white;
  border: 2px solid #395462;
  padding: 20px;
  border-radius: 5px;
  color: black;
  width: 310px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  display: none;
}
#registerForm input {
  margin: 10px auto 0 auto;
}
#registerForm .submitbtn {
  margin-top: 8px;
}
body {
  padding-top: 56px;
}
#title {
  display: flex;
  min-height: 170px;
  background-color: #cce0dd;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  padding: 0% 15% 0% 15%;
  text-align: center;
}
.bodyWrapper {
  background: #fafafa;
  font-size: 1.2rem;
}
.sideBar {
  width: 25%;
  color: white;
  float: left;
  position: fixed;
  height: 100%;
}
.mainContent {
  width: 85%;
  padding-left: 25%;
}
.formContainer {
  padding-top: 5px;
}
button {
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.shareForm {
  background: white;
  min-height: 50px;
  box-shadow: 3px 3px 3px #e6ebf0;
  color: #395462;
  padding: 3px 10px 3px 5px;
}
.shareForm:hover {
  border: 2px solid;
}
.shareForm i {
  margin: 0 5px 0 5px;
}
#popupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 84, 98, 0.7);
  z-index: 8;
  display: none;
  align-items: center;
  justify-content: center;
}
#popupWrapper #popupForm {
  display: none;
  z-index: 9;
  background-color: white;
  border: 2px solid #395462;
  padding: 20px;
  border-radius: 5px;
  width: 350px;
  min-height: 30%;
}
#popupWrapper #popupForm form {
  text-align: center;
}
#popupWrapper #popupForm form textarea {
  display: block;
  margin: 0 auto 10px auto;
  width: 100%;
  resize: none;
}
#popupWrapper #popupForm form #postLinkContainer #postLinkImg {
  border-radius: 8px;
  width: 100%;
  max-height: 200px;
}
#popupWrapper #popupForm form #postLinkContainer #postLinkDescription {
  font-size: 1rem;
}
.submitbtn {
  text-align: center;
  width: 51%;
  margin: 3px 0 3px 0;
  padding: 3px 0 3px 0;
  background-color: #00a4c0;
  color: white;
}
.closebtn {
  text-align: center;
  width: 51%;
  margin: 3px 0 3px 0;
  padding: 3px 0 3px 0;
  background-color: #f70110;
  color: white;
}
.contentsContainer {
  padding-top: 5px;
}
.contents {
  padding-left: 5px;
  background: white;
  box-shadow: 3px 3px 3px #e6e6e6;
}
.publisher {
  padding-left: 8px;
}
.comments {
  min-height: 45px;
}
.contentLink,
.contentLink a {
  color: #395462;
  text-decoration: none;
}
.contentLink a:hover {
  text-decoration: underline;
}
.contentIcons {
  margin-left: 15px;
}
.contentIcons i {
  color: #395462;
  margin: 0 5px 0 5px;
}
.contentIcons small {
  padding-left: 3px;
}
.loadMoreWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
.loadMoreContainer {
  padding-top: 5px;
  width: 30%;
}
.loadMoreContainer a {
  text-decoration: none;
}
.loadMore {
  background: white;
  text-align: center;
  box-shadow: 3px 3px 3px #e6e6e6;
  color: #395462;
  padding: 3px 5px 3px 5px;
}
.loadMore:hover {
  border: 2px solid;
}
.gapA {
  height: 5px;
}
.errorWrapper {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.errorWrapper .errorContainer {
  background-color: #cce0dd;
  border-radius: 5px;
  color: #395462;
  width: 70%;
  border: 5px solid #2d313a;
  padding: 10px;
}
.errorWrapper .errorContainer .errorDiv1 {
  float: left;
}
.errorWrapper .errorContainer .errorDiv2 {
  padding-left: 12%;
}
.formWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 84, 98, 0.7);
  z-index: 8;
  align-items: center;
  justify-content: center;
  display: flex;
}
.formWrapper #resetForm {
  z-index: 9;
  background-color: white;
  border: 2px solid #395462;
  padding: 20px;
  border-radius: 5px;
  color: black;
  width: 310px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}
